// Place all the styles related to the public controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@font-face {
  font-family: 'ringbearer';
  src: asset_url('ringbearer.tff');
}

#answers li {
  border: thin solid silver;
  padding: 5px;
  border-radius: 10px;
  list-style: none;
  margin: 10px 0px;
  cursor: pointer;
}

#answers li.answered.correct {
  background-color: lightgreen;
}
#answers li.answered.selected:not(.correct) {
  background-color: salmon;
}

#answers li.selected {
  border: thick solid black;
}

#explanation {
  display: none;
}

#banner-right {
  float: right;
}
#banner-left {
  float: left;
}
#banner-text {
  font-size: 3em;
}
#header {
  text-align: center;
  height: 75px;
}
#header img {
  height: 50px;
  width: 50px;
}
#main {
  clear: both;
}
// 133 × 191
#progress_castle {
  width: 65px;
  height: 95px
}
#progress_knight {
  width: 85px;
  height: 95px;
}
// 168 × 176
#progress_shield {
  width: 42px;
  height: 44px;
}
// 209 x 159
#select-all-dragon {
  width: 105px;
  height: 80px;
}
.clear {
  clear: both;
}

#explanation-scroll {
  float: left;
}
.knightshift-font {
  font-family: "ringbearer";
  font-weight: normal;
}
#exam-list {
  list-style: none;
}
#exam-list li {
  list-style: none;
}
#exam-list .shield-bullet {
  height: 25px;
  width: 25px;
}
.hide {
  display: none;
}
