<h1>Welcome, <%= current_user.username %></h1>
<p>
  <%= image_tag("knight") %>
  The path is long but the rewards are great
  <%= image_tag("horse") %>
</p>
<p>Click here to begin your training for <%= link_to(@exam.title, public_practice_path(question_id: @exam.questions.first!.id)) %></p>
